.view-table {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-table-bg {
    background-color: rgba(0, 0, 0, 0.582);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.view-table-content {
    position: relative;
    max-width: 1200px;
    background-color: white;
    border-radius: 4px;
}

.view-from {
    width: 400px;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 20px;
}

.view-header {
    border-bottom: 1px solid rgba(182, 182, 182, 0.829)
}

.view-header > h3 {
    margin: 0;

    text-align: center;
    padding: 1rem;
}

.col > label {
    padding-left: 15px;
}

.columnview {
    display: flex;
    width: 100%;
    padding: 5px;
}

.columnview input {
    width: 20rem;
}

.columnview label {
    width: 10rem;
}
