#card-add {
  width: 80%;
  margin: 1rem auto;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.name-page {
  border-bottom: 1px solid rgb(202, 202, 202);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-input {
  padding: 0.5rem;
}

.button-add {
    border-top: 1px solid rgb(202, 202, 202);
}

.button-add button {
    margin: 5px 1rem 5px 0;
}