.imgmushroom {
    text-align: center;
    font-size: 2.5rem;
}

.textcount {
    text-align: right;
    margin: 0;
    font-size: 20px;
}

.col1 {
    width: 72rem;
}
/* 
.person {
    width: 100%;
} */