#Navbar {
    width: 100%;
    margin: auto;
    /* box-shadow: 0 4px 8px 0 rgba(80, 80, 80, 0.2), 0 6px 20px 0 rgba(95, 95, 95, 0.19); */
}

.status {
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #1d1d1d; */
}

.statusright {

    align-items: center;
}

.statusleft {
 
    align-items: center;
}

.status > p{
    font-size: 2rem;
    padding: 1rem 0 0 1rem ;
}

#name {
    font-size: 25px;
}